#topbar {
  //border-bottom: 1px solid #202020;
  //background-color: #202020;
  box-shadow: 0 -1px 10px #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

#hogwarts-img {
  width: 70px;
  margin: 15px;
}

#main-title {
  font-weight: normal;
}